nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #44403c;
}
.main-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 20px;
  flex: 1;
}

li {
  list-style-type: none;
  color: #f59e0b;
  cursor: pointer;
}

.active {
  border-bottom: 1px solid #f59e0b;
}
